    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
        opacity 0.85
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
    
    window-rule {
      match is-focused=true
      opacity 1.0
    }

    window-rule {
        match app-id="brave-browser"
        opacity 1.0
    }
